/.DS_Store
/class_06/ein_had_test.pl
/class_06/image copy.png
/class_06/image.png
/prolog.pdf
/class_09_10/sudoku_bin.pl
/class_09_10/sudoku_checker_blocks_clean.pl
/class_09_10/sudoku_checker_blocks.pl
/class_09_10/zaloha_4x4.pl